/*
*/
.container{
    place-content: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    display: flexbox;
    align-content: center;
}
.mid-box{
    width: 50%;
    margin: auto;
}
.charbox{
    width: 10%;
    border-radius: 3mm;
    margin: auto;
    display: block;
}
.fx-login-center{
    width: 35%;
    min-width: 30%;
    margin-right: auto;
    margin-left: auto;
}
.roundedge{
    margin: 3px;
    border-radius: 3mm;
}
body{
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}