/*
*/
.container{
    place-content: center;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    display: flexbox;
    align-content: center;
}
.mid-box{
    width: 40%;
}
.fx-center{
    margin-left: auto;
    margin-right: auto;
}
.charbox{
    width: 10%;
    border-radius: 3mm;
    margin: auto;
    display: block;
}
.fx-login-center{
    width: 35%;
    min-width: 30%;
}
.roundedge{
    margin: 3px;
    border-radius: 3mm;
}